<button class="a-btn-primary">Primary button</button>
<button class="a-btn-primary" disabled="disabled">Disabled primary button</button>

<button class="a-btn-primary a-btn-primary--outline">Primary outline button </button>
<button class="a-btn-primary a-btn-primary--outline" disabled="disabled">Disabled primary outline button</button>