<div class="t-dashboard">
  {{> organisms-operator-header }}

  <div class="t-dashboard__content-wrapper">
    
    <div class="t-dashboard__content">
      <!-- START OF YOUR CONTENT -->
        <p class="tc">HERE GOES YOUR CONTENT</p>
      <!-- END OF YOUR CONTENT -->
    </div>

  </div>

  {{> organisms-footer }}
</div>