<div class="w-100 tc pa5">
  <p>Data attribute only <a href="#" data-tooltip="I’m the tooltip text">Tooltip</a></p>
  <p><code>.tooltip</code> <a href="#" class="a-tooltip" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
  <p><code>.tooltip-top</code> <a href="#" class="a-tooltip--top" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
  <p><code>.tooltip-right</code> <a href="#" class="a-tooltip--right" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
  <p><code>.tooltip-bottom</code> <a href="#" class="a-tooltip--bottom" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
  <p><code>.tooltip-left</code><a href="#" class="a-tooltip--left" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
</div>