<div class="o-settings">
    {{> molecules-section-navigation}}

    {{> atoms-avatar-medium }}

    {{> molecules-preference-item(title: "Id", value: "0f3a365e32547001") }}

    {{> molecules-preference-item(title: "Name", value: "Ángel Herranz") }}

    {{> molecules-preference-item(title: "Phone", value: "+34676118159") }}

    {{> molecules-preference-item(title: "ACL", value: "Read/Write") }}

    {{> molecules-preference-item(title: "Email", value: "angel.herranz@coowry.com") }}

    {{> molecules-preference-language }}

    {{> molecules-preference-logout }}
</div>