<div class="t-public-app">
    <div>
        <!-- EMPTY HEADER -->
    </div>

    <div>
        <div class="t-public-app__content-wrapper">
            {{> atoms-avatar-large }}

            {{> organisms-phone-input }}

            <p class="a-paragraph--legal-text">
                By registering, you accept Coowry's <a class="a-link" href="/terms">tems and conditions</a><br />and the <a class="link coowry-green" href="/privacy">Privacy Policy</a>.
            </p>

            <button class="a-btn-secondary">Cancel</button>
        </div>
    </div>

        
    {{> organisms-footer}}
</div>
    
    