<ul class="m-filter-list">
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--b2b|a-filter-toggle--checked--b2b(text: "Marketplace")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--b2n|a-filter-toggle--checked--b2n(text: "Business to Network")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--b2p|a-filter-toggle--checked--b2p(text: "Settlement")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--n2b|a-filter-toggle--checked--n2b(text: "Network to Business")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--n2n|a-filter-toggle--checked--n2n(text: "Conciliation")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--n2p|a-filter-toggle--checked--n2p(text: "Charge")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--p2b|a-filter-toggle--checked--p2b(text: "Purchase")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--p2n|a-filter-toggle--checked--p2n(text: "Deposit")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--p2p_onnet|a-filter-toggle--checked--p2p_onnet(text: "Exchange On Net")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--p2p_offnetin|a-filter-toggle--checked--p2p_offnetin(text: "Exchange In")}}
    </li>
    <li class="m-filter-list__item">
        {{> atoms-filter-toggle:a-filter-toggle--p2p_offnetout|a-filter-toggle--checked--p2p_offnetout(text: "Exchange Out")}}
    </li>
</ul>