<tr class="m-table__row">
  <td class="m-table__cell m-table__cell--text">(+34) 639 34 27 23</td>
  <td class="m-table__cell m-table__cell--number">
    <span class="a-trade-value a-trade-value--authorized">
      <span class="cw-value--no-color">4.43 € </span>
    </span>
  </td>

  <td class="m-table__cell m-table__cell--text">Viaje Muving</td>
  <td class="m-table__cell m-table__cell--text">ref-10381033</td>
  <td class="m-table__cell m-table__cell--symbol">
    <a href="#" class="a-link a-link--icon">
      <i class="fa fa-pencil"></i>
    </a>

    <a href="#" class="a-link a-link--alert">
      <i class="fa fa-times fa-fw"></i>
    </a>
  </td>
</tr>