<div class="t-public-app">
    <div>
        <!-- EMPTY HEADER -->
    </div>

    <div>
        <div class="t-public-app__content-wrapper">
            {{> atoms-icon-spinner}}

            <h1>
                Connecting to your operator.
            </h1>
        </div>
    </div>

        
    {{> organisms-footer}}
</div>