{{> molecules-detail-item(title: "Group title", value: "") }}
<ul class="o-detail-group">
  {{> molecules-detail-item(title: "Group detail 1", value: "Value") }}
  {{> molecules-detail-item(title: "Group detail 2", value: "Value") }}
</ul>