<div class="t-public-app">
    <div>
        <!-- EMPTY HEADER -->
    </div>

    <div>
        <div class="t-public-app__content-wrapper">
            {{> atoms-avatar-large }}

            <h1>
                Pay with your phone
            </h1>
            
            <p>
                We use this template when we only know one of the parties, for example we know the merchant but not yet the user.
            </p>

            <p>
                Nec condimentum urna. In hac habitasse platea dictumst. Phasellus a scelerisque quam. 
            </p>

            <button class="a-btn-primary">Next</button>
            <button class="a-btn-secondary">Cancel</button>
        </div>
    </div>

        
    {{> organisms-footer}}
</div>
    
    