.c-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;

  &__firmitas {
    font-style: italic;
  }
}

@media only screen and (max-width: $responsive-breakpoint) {
  .c-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}