.c-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  size: 1rem;
  
  &__right {
    text-align: right;
  }
  &__left {}
}

@media only screen and (max-width: $responsive-breakpoint) {
  .c-header {
    display: none;
  }
}
