$font-path: '../typefaces/' !default;

@font-face {
  font-family: 'EuclidCircularA';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$font-path}EuclidCircularA-Regular-WebS.eot") format("eot"),
       url("#{$font-path}EuclidCircularA-Regular-WebS.woff2") format("woff2"),
       url("#{$font-path}EuclidCircularA-Regular-WebS.woff") format("woff");
}
@font-face {
  font-family: 'EuclidCircularA';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("#{$font-path}EuclidCircularA-RegularItalic-WebS.eot") format("eot"),
       url("#{$font-path}EuclidCircularA-RegularItalic-WebS.woff2") format("woff2"),
       url("#{$font-path}EuclidCircularA-RegularItalic-WebS.woff") format("woff");
}

@font-face {
  font-family: 'EuclidCircularA';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("#{$font-path}EuclidCircularA-Medium-WebS.eot") format("eot"),
       url("#{$font-path}EuclidCircularA-Medium-WebS.woff2") format("woff2"),
       url("#{$font-path}EuclidCircularA-Medium-WebS.woff") format("woff");
}
@font-face {
  font-family: 'EuclidCircularA';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("#{$font-path}EuclidCircularA-MediumItalic-WebS.eot") format("eot"),
       url("#{$font-path}EuclidCircularA-MediumItalic-WebS.woff2") format("woff2"),
       url("#{$font-path}EuclidCircularA-MediumItalic-WebS.woff") format("woff");
}
