html {
  font-size: 16px; // To use with REMs (Root EMs)
  background-color: $color-highlight;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: $color-highlight;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family;
  margin: 0;
  min-height: 100vh;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    transition: opacity .15s ease-in;
    opacity: .8;
  }
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

li {
  margin-bottom: 0.5rem;
}

// Typography, including headers
h1 {
  font-size: 1.75rem; // 28px
  line-height: 2.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 1rem;
}
