.o-container {
  max-width: 49rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 9rem; // need to break the rule
  padding-left: 5rem;
  padding-right: 5rem;
}

@media only screen and (max-width: $responsive-breakpoint) {
  .o-container {
    padding-bottom: 1rem;
    padding-top: 4rem; // need to break the rule
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
