// Settings
$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$color-background: #FEFEFE;
$color-text: #333;
$color-primary: #0074D9;
$color-highlight: #FAEE75;
$responsive-breakpoint: 600px;
