// Settings
$font-family: 'EuclidCircularA', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$color-background: #FDFDFD;
$color-text: #333;
$color-inverted-text: #fff;
$color-primary: #FE712E;
$color-highlight: #FAEE75;
$responsive-breakpoint: 600px;
