// Here goes the SCSS
// TODO these two should go somewhere else
@import 'inter';
@import 'reset';

// Guideline
// BEM: Block__Element--Modifier
// Settings -> Atoms -> Organisms -> Templates -> Pages
// or ITCSS an o-, c-...
// One direction margins: DOWN

// Settings
$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$color-background: #FCFCFC;
$color-text: #333;
$color-primary: #0074D9;
$color-highlight: #FAEE75;

$responsive-breakpoint: 600px;

// elements.base
html {
  font-size: 16px; // To use with REMs (Root EMs)
  background-color: $color-highlight;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: $color-highlight;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family;
  margin: 0;
  min-height: 100vh;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

li {
  margin-bottom: 0.5rem;
}

// Typography, including headers
p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.25rem; // 20px
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}


.container {
  max-width: 49rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  //margin-top: 9rem; // need to break the rule
  padding-top: 9rem; // need to break the rule
  padding-left: 5rem;
  padding-right: 5rem;
}

.header {
  margin-bottom: 2rem;
  position: static;

  &__icon {
    height: 1.5rem; // 24px;
    position: relative;
    left: -32px;
    top: 4px;
  }

  &__title {
    display: inline-block;
    background: url("/images/fill-header.png") no-repeat center left;
    width: 210px; // the width of the highlighter
    margin-left: -32px;
    padding-left: -44px;
    line-height: 28px;
  }

  &__title-link {
    text-decoration: none;
    color: $color-text;

    &:hover {
      text-decoration: none;
    }
  }
}

.main {
  margin-bottom: 4rem;

  &__claim {
    background: url("/images/fill-body.png") no-repeat top right;
  }

  &__cta {
    background: url("/images/fill-email.png") no-repeat bottom left;
    display: inline-block;
    width: 162px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 32px;//1.5rem;
    margin-left: -30px;
    padding-left: 30px;
    padding-top: 10px;
  }

  &__cta_icon {
    vertical-align: middle;
    display: inline-block;
    height: 1.5rem; // 24px;
    width: 1.9375rem;
    margin-right: 0.75rem;
  }
}

.elsewhere {
  margin-bottom: 9rem;
}

.footer {
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  width: 100%;
  vertical-align: middle;

  &__love {
    height: 16px;
    vertical-align: middle;
  }

  &__brain {
    height: 16px;
    vertical-align: middle;
  }

  &__coffee {
    height: 16px;
    vertical-align: middle;
  }
}

@media only screen and (max-width: $responsive-breakpoint) {
  .container {
    padding-bottom: 1rem;
    padding-top: 4rem; // need to break the rule
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .header {
    margin-bottom: 1rem;
    position: static;

    &__title {
      width: 210px;
      margin-left: -32px;
      padding-left: -44px;
    }

    &__icon {
      height: 1.5rem;
      position: relative;
      left: -4px;
      top: 4px;
    }
  }
}
