<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title>
      <%= current_page.data.title || config[:site_title] %>
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="home">
    <div class="o-container">
      <header class="c-header">
        <p class="c-header__left">Say hi at <a href="mailto:hi@eduard.io">hi@eduard.io</a>
        <p class="c-header__right">Let's connect on <a href="https://twitter.com/eduard_io">Twitter</a>, <a href="https://instagram.com/eduard_io">Instgram</a> and <a href="https://www.linkedin.com/in/eduard-io">LinkedIn</a>.
      </header>

      <%= yield %>

      <!-- TODO: Extract this to a partial when required -->
      <footer class="c-footer">
        <p>© 2014―2023. All rights reserved.</p>
        <p class="c-footer__firmitas">Firmitas, utilitas, venustas.</p>
      </footer>
    </div>
  </body>
</html>
