<div class="m-range-selector">
  <div class="dropdown">
    <div class="dropdown--button-container">
      <input readonly="" value="2017-11-01">
    </div>
  </div>
  <b>&mdash;</b>
  <div class="dropdown">
    <div class="dropdown--button-container">
      <input readonly="" value="2017-11-30">
    </div>
  </div>

  <!-- <button class="a-btn a-btn--green br0" disabled="disabled"> -->
  <button class="m-range-selector__button">
    Go
  </button>
</div>