<!-- it works over another template -->
{{> templates-dashboard-middle }}

<div class="t-modal">
  
  <div class="t-modal__content">
    <a href="#" class="t-modal__close a-link a-link--modal">
      <i class="fa fa-times fa-fw"></i>
    </a>
    
    <!-- START OF YOUR CONTENT -->    
      <h1>Modal Dialogue</h3>
      <p>Put your modal content here.</p>
    <!-- END OF YOUR CONTENT -->
  </div>

</div>