<div class="m-double-avatar">
  <span class="m-double-avatar__left">
    <a class="a-link" href="#">
      {{> atoms-avatar-large-border}}
    </a>
  </span>
  <span clas="m-double-avatar__right">
    <a class="a-link" href="#">
      {{> atoms-avatar-large-border}}
    </a>
  </span>
</div>