<thead class="m-table__header">
  <tr>
    <th class="m-table__cell m-table__cell--text">Customer</th>
    <th class="m-table__cell m-table__cell--number">Value</th>
    <th class="m-table__cell m-table__cell--text">Concept</th>
    <th class="m-table__cell m-table__cell--text">Reference</th>
    <th class="m-table__cell m-table__cell--text">Status</th>
  </tr>
</thead>