/* ==========================================================================
   Layout & Components
   ========================================================================== */

.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  background-color: var(--color-background);

  max-width: 55ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem;
  margin: 0 auto;
}

.intro {
  margin-block-start: 8rem; /* TODO VAR */
}

.intro__heading {
  font-size: 1.125rem; /* TODO: variable! */
  font-weight: var(--font-weight-regular);
  line-height: 1.4; /* TODO: variable */
  color: var(--color-text);
  margin-bottom: 1rem;
}

.experience {
  margin-block-start: 8rem; /* TODO VAR */
}

/* ==========================================================================
     Media Queries
     ========================================================================== */
@media (max-width: 768px) {
  .home {
    padding-top: 4rem;
  }
}
