<div class="m-month-selector">
  <!-- <span class="m-month-selector__text">From</span> -->
  
  <select class="m-month-selector__month-select">
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select>
  
  <select class="m-month-selector__month-select">
    <option>2015</option>
    <option>2016</option>
    <option>2017</option>
    <option>2018</option>
  </select>

  <span class="m-month-selector__separator">&mdash;</span>

  <select class="m-month-selector__month-select">
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select>
  
  <select class="m-month-selector__month-select">
    <option>2015</option>
    <option>2016</option>
    <option>2017</option>
    <option>2018</option>
  </select>
  
  <button class="m-month-selector__button">
    Go
  </button>
</div>