/* Link List */
.link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  font-family: var(--font-family-sans);
  font-size: 0.75rem;
  font-weight: var(--font-weight-light);
  margin-block-start: 1.5rem; /* TODO VAR */
}

.link-list li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-regular);
}

.link-list li:not(:last-child)::after {
  content: '/';
  margin: 0 0.5rem;
  color: var(--color-divider);
  font-weight: var(--font-weight-semibold);
}
