.site-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* TODO This to vars! */
  gap: 1rem; /*var(--spacing-medium);*/
  /*margin-top: 2rem; */ /*var(--spacing-large);**/
  width: 100%;
}

.site-header__brand {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  margin-inline-end: auto;
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.875rem; /* TODO Var small */
}

.site-header__brand:hover {
  text-decoration: none;
}

.site-header__title {
  font-weight: var(--font-weight-medium);
}
