<div class="t-public-app">
    <div>
        <!-- EMPTY HEADER -->
    </div>
    
    <div>
        <p>
        PUBLIC APP CONTENT COMES HERES
        </p>
    </div>
        
    {{> organisms-footer}}
</div>