<div class="t-dashboard">
  {{> organisms-operator-header }}

  <div class="t-dashboard__content-wrapper t-dashboard__content-wrapper--top">
    <div class="t-dashboard__content">

      <div class="t-dashboard__content--narrow">
        {{> organisms-section-header-centered(title: "Transaction details") }}
        
        {{> molecules-double-avatar-linked}}

          {{> molecules-detail-item(title: "Id", value: "tr-hk8ljv3nd3qb") }}
          <div class="m-detail-item" title="">
            <div class="m-detail-item__title">Type:</div>
            <div class="m-detail-item__data"><span class="sort p2p_offnetin">Exchange (P2P-in)</span></div>
          </div>

          {{> molecules-detail-item(title: "Value", value: "7.64 $") }}

          {{> molecules-detail-item(title: "Action", value: "Send") }}
          
          {{> molecules-detail-item(title: "Sender", value: "") }}
          
          <ul class="o-detail-group">
            {{> molecules-detail-item(title: "Id", value: "account-3") }}
            {{> molecules-detail-item(title: "Name", value: "—") }}
            {{> molecules-detail-item(title: "MSISDN", value: "+34691363380") }}
            {{> molecules-detail-item(title: "In the request", value: "+34691363380") }}
            {{> molecules-detail-item(title: "Operator", value: "Orange") }}
            {{> molecules-detail-item(title: "Prepaid", value: "—") }}
          </ul>
          
          {{> molecules-detail-item(title: "Receiver", value: "") }}
          
          <ul class="o-detail-group">
            <div class="m-detail-item" title="">
            <div class="m-detail-item__title">
              Id:
            </div>

            <div class="m-detail-item__data">
              <a class="a-link">account-7</a>
            </div>
          </div>

            {{> molecules-detail-item(title: "Name", value: "—") }}
            {{> molecules-detail-item(title: "MSISDN", value: "+34639371744") }}
            {{> molecules-detail-item(title: "In the request", value: "+34639371744") }}
            {{> molecules-detail-item(title: "Operator", value: "Movistar") }}
            {{> molecules-detail-item(title: "Prepaid", value: "—") }}
          </ul>
          {{> molecules-detail-item(title: "Value", value: "7.31 €") }}

          <div class="m-detail-item" title="">
            <div class="m-detail-item__title">
              Status
            </div>

            <div class="m-detail-item__data">
              <span class="status authorized">Completed</span>
            </div>
          </div>

          
          <ul class="o-detail-group">
            {{> molecules-detail-item(title: "Created", value: "2015-09-28 10:13") }}
            {{> molecules-detail-item(title: "Authorized", value: "2015-09-28 10:13") }}
            {{> molecules-detail-item(title: "Failed", value: "—") }}
            {{> molecules-detail-item(title: "Failure", value: "—") }}
            {{> molecules-detail-item(title: "Cancellation reason", value: "—") }}
            {{> molecules-detail-item(title: "Cancellation orderer", value: "—") }}
          </ul>
          
          {{> molecules-detail-item(title: "Linked", value: "—") }}
          {{> molecules-detail-item(title: "Bulk", value: "—") }}
      </div>
    </div>
  <div>

  {{> organisms-footer }}
</div>