{# Analytics #}
{% if env.CONTEXT == "production" %}
  <link rel="preconnect" href="https://cloud.umami.is" />
  <script
    defer
    src="https://cloud.umami.is/script.js"
    data-website-id="02ce85e6-12f5-4f87-b7d9-b56e4b80c20c"
  ></script>
{% endif %}
