<link rel="stylesheet" href="/stylesheets/reset.css" />
<link rel="stylesheet" href="/stylesheets/variables.css" />
<link rel="stylesheet" href="/stylesheets/base.css" />
<link rel="stylesheet" href="/stylesheets/animations.css" />
<link rel="stylesheet" href="/stylesheets/layouts/home.css" />
<link rel="stylesheet" href="/stylesheets/components/theme-toggle.css" />
<link rel="stylesheet" href="/stylesheets/components/back-to-top.css" />
<link rel="stylesheet" href="/stylesheets/components/link-list.css" />
<link rel="stylesheet" href="/stylesheets/components/job-section.css" />
