<form class="o-phone-input">
  <p class="o-phone-input__country-caption">
    Type the phone number from <span class="nowrap"> <a class="a-link">Spain</a> (+34)</span>
  </p>

  <input class="a-input--large" type="tel" autocomplete="off" placeholder="Móvil">
  <button class="a-btn-primary"> Confirm </button>
</form>
