<div><span class="lato_light">Primary font light: "LatoLatinWeb", sans-serif;</span></div>
<div><span class="lato_light"><em>Primary font light italic: "LatoLatinWeb", sans-serif;</span></em></div>

<div>Primary font regular: "LatoLatinWeb", sans-serif;</div>
<div><em>Primary font regular italic: "LatoLatinWeb", sans-serif;</em></div>

<div><span class="lato_medium">Primary font medium: "LatoLatinWeb", sans-serif;</span></div>
<div><span class="lato_medium"><em>Primary font medium italic: "LatoLatinWeb", sans-serif;</span></em></div>

<div><span class="lato_bold">Primary font bold: "LatoLatinWeb", sans-serif;</span></div>
<div><span class="lato_bold"><em>Primary font bold italic: "LatoLatinWeb", sans-serif;</span></em></div>

<!-- 
<div class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</div>
<div class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; Georgia, Times, "Times New Roman", serif;</strong></div>
 -->