<ul class="m-header-nav">
  <li class="m-header-nav__item">
    {{> atoms-nav-link-active(text:"Traffic") }}
  </li>

  <li class="m-header-nav__item">
    {{> atoms-nav-link(text:"Transactions") }}
  </li>

  <li class="m-header-nav__item">
    {{> atoms-nav-link(text:"FTC") }}
  </li>
</ul>