<div class="m-double-buttons">
  <div class="m-double-buttons__left">
    <button class="a-btn-primary--outline a-btn-primary--left">{{ first }}</button>
  </div>
  <div class="m-double-buttons__right">
    <button class="a-btn-primary--outline a-btn-primary--right">{{ second }}</button>
  </div>
</div>