<ul class="m-header-nav">
  <li class="m-header-nav__item">
    {{> atoms-nav-link-active(text:"Balance") }}
  </li>

  <li class="m-header-nav__item">
    {{> atoms-nav-link(text:"Transactions") }}
  </li>

  <li class="m-header-nav__item">
    {{> atoms-nav-link(text:"Bulks") }}
  </li>

  <li class="m-header-nav__item">
    {{> atoms-nav-link(text:"Customers") }}
  </li>
</ul>