<!-- it works over another template -->
{{> pages-bulk-view }}

<div class="t-modal">

  <div class="t-modal__content">
      <a href="#" class="t-modal__close a-link a-link--modal">
        <i class="fa fa-times fa-fw"></i>
      </a>
      
      {{> molecules-double-avatar }}

      <h2 class="a-section-title tc">Edit transaction with (+34) 634 84 43 93</h2>

      {{> molecules-value-input(value: "1.39") }}

      <input class="a-input--large" id="text" type="text" placeholder="Description" value="My description">
      
      <input class="a-input--large" id="text" type="text" placeholder="Reference" value="ref-193901"> 

      <button class="a-btn-primary">Save changes</button>
      <button class="a-btn-secondary">Cancel changes</button>
  </div>

</div>