<!-- it works over another template -->
{{> pages-empty }}

<div class="t-modal">

  <div class="t-modal__content">
      <a href="#" class="t-modal__close a-link a-link--modal">
        <i class="fa fa-times fa-fw"></i>
      </a>
      
      <h1 class="tc">New transaction</h1>

      {{> organisms-phone-input }}
  </div>
</div>