<div class="o-header__wrapper o-header__wrapper--dashboard">
    <nav class="o-header">
        <div class="o-header__left">
            <a class="o-header__merchant-avatar">
                {{> atoms-avatar-small }}
            </a>

            <a class="o-header__user-avatar">
                {{> atoms-avatar-profile-link }}
            </a>
        </div>
        
        <div class="o-header__center">
            {{> molecules-search-bar }}
        </div>
        
        <div class="o-header__right">
            {{> molecules-merchant-header-navigation }}
        </div>
    </nav>
</div>