<div class="t-public-app">
    <div>
        <!-- EMPTY HEADER -->
    </div>

    <div>
        <div class="t-public-app__content-wrapper">
            {{> atoms-icon-success}}

            <h1>
                Success!
            </h1>
            
            <p>
                Explain the user what happened and what is the status now.
            </p>

            <p>
                Nec condimentum urna. In hac habitasse platea dictumst. Phasellus a scelerisque quam. 
            </p>

            <button class="a-btn-primary">Return</button>
        </div>
    </div>

        
    {{> organisms-footer}}
</div>