<link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg">
<link rel="icon" type="image/png" href="/assets/favicons/favicon.png">