<div class="t-dashboard">
  {{> organisms-access-header }}

  <div class="t-dashboard__content-wrapper">
    <div class="t-dashboard__content">
        {{> organisms-access-form}}
    </div>
  </div>

  {{> organisms-footer }}
</div>