<thead class="m-table__header">
  <tr>
    <th class="m-table__cell m-table__cell--text">Date</th>
    <th class="m-table__cell m-table__cell--text">ID</th>
    <th class="m-table__cell m-table__cell--text">Type</th>
    <th class="m-table__cell m-table__cell--text">From</th>
    <th class="m-table__cell m-table__cell--text">To</th>
    <th class="m-table__cell m-table__cell--text">Status</th>
    <th class="m-table__cell m-table__cell--number">Value</th>
  </tr>
</thead>