<ul class="sg-colors">
  <li>
    <span class="sg-swatch bg-coowry-green"></span>
    <span class="sg-label">
      $coowry-green <br />
      <code>#15B301</code><br />
      <code>rgba(21, 179, 1, 1)</code>  
    </span>
  </li>

  <li>
    <span class="sg-swatch bg-light-coowry-green"></span>
    <span class="sg-label">
      $coowry-green <br />
      <code>#B8E8B2</code><br />
      <code>rgba(21, 179, 1, 0.3)</code>  
    </span>
  </li>
  <li>
    <span class="sg-swatch bg-coowry-purple"></span>
    <span class="sg-label">
      $coowry-purple <br />
      <code>#8E0CFF</code><br />
      <code>rgba(142, 12, 255, 1)</code>
    </span>
  </li>
  <li>
    <span class="sg-swatch bg-coowry-gold"></span>
    <span class="sg-label">
      $coowry-gold <br />
      <code>#F8E71C</code><br />
      <code>rgba(248, 231, 28, 1)</code>
    </span>
  </li>
  <li>
    <span class="sg-swatch bg-coowry-lemon"></span>
    <span class="sg-label">
      $coowry-lemon <br />
      <code>#FBF9C2</code><br />
      <code>rgba(251, 249, 194, 1)</code>
    </span>
  </li>
  <li>
    <span class="sg-swatch bg-dark-red"></span>
    <span class="sg-label">
      $dark-red <br />
      <code>#E7040F</code><br />
      <code>rgba(254, 0, 0, 1)</code>
    </span>
  </li>
</ul>
