<div class="m-value-input">

  <div class="flex justify-center items-end">
    <input class="m-value-input__amount" type="number" step="any" autocomplete="off" placeholder="0.0" style="width: 4ch;" value="{{ value }}" autofocus>

    <span class="m-value-input__currency-wrapper">
      <span class="m-value-input__currency">€</span>
    </span>
  </div>

  <p class="a-caption">15.28 € of balance avaiable in Yoigo</p>
</div>