<ul class="m-section-nav">
  <li class="m-section-nav__item">
    {{> atoms-nav-link-active(text:"Account") }}
  </li>

  <li class="m-section-nav__item">
    {{> atoms-nav-link(text:"Operator") }}
  </li>

  <li class="m-section-nav__item">
    {{> atoms-nav-link(text:"Preferences") }}
  </li>
</ul>