---
layout: layouts/home
title: Eduard Giménez, Product Designer &mdash; Bridging Design & Development
description: Eduard Giménez is a product designer with a background in development. Currently acting as Interim Head of Design at Gelato, he specializes in creating intuitive, scalable digital experiences.
keywords: UX designer, UI designer, product designer, user experience, user interface, digital, design, UI/UX, design systems, Gelato, scalable design, intuitive experiences, web design, SaaS design, interface design, product development, minimalism, minimal design, typography, design portfolio, development, web, app
---

<section class="intro initial-load">
  <h1 class="intro__heading">
    I'm a developer turned product designer. Leading the UX team at
    <a href="https://gelato.com" target="_blank">Gelato</a> from Madrid.
  </h1>

  <ul class="link-list">
    <li><a href="mailto:hello@eduard.io?subject=Hello Eduard!">email</a></li>
    <li><a href="https://www.linkedin.com/in/eduard-io/" target="_blank">linkedin</a></li>
    <li><a href="https://github.com/eduard-io" target="_blank">github</a></li>
  </ul>
</section>

<!-- <p class="initial-load">
  Always exploring new ideas, see what I'm working on at
  <a href="https://minilab.co">minilab.co</a>, my personal playground.
</p> -->

{% if flags.showExperience %}
  <section class="experience initial-load">
    {% for job in experience.experience %}
      <div class="job initial-load">
        <img src="{{ job.logo }}" alt="{{ job.company }} logo" class="job-logo light-logo" />
        <img src="{{ job.logo_dark }}" alt="{{ job.company }} logo" class="job-logo dark-logo" />
        <p class="dates">{{ job.start }} - {{ job.end or "Present" }}</p>
        <h2>
          {{ job.title }}
          {% if job.url %}
            <span
              >at
              <a href="{{ job.url }}" target="_blank" rel="noopener noreferrer"
                >{{ job.company }}</a
              ></span
            >
          {% else %}
            <span>at {{ job.company }}</span>
          {% endif %}
        </h2>
        <p>{{ job.description }}</p>
      </div>
    {% endfor %}
  </section>
{% endif %}
