<div class="t-public-app">
    <div>
        <!-- EMPTY HEADER -->
    </div>

    <div>
        <div class="t-public-app__content-wrapper">
            {{> molecules-double-avatar }}

            <h1>
                Top up your phone
            </h1>
            
            <p>
                We use this template when we know both paries involved, for example in Add to top up a user we know the user and the operator.
            </p>

            <p>
                Nec condimentum urna. In hac habitasse platea dictumst. Phasellus a scelerisque quam. 
            </p>

            <button class="a-btn-primary">Next</button>
            <button class="a-btn-secondary">Cancel</button>
        </div>
    </div>

        
    {{> organisms-footer}}
</div>
    
    