---
title: Eduard Giménez: product designer and developer
---

<header class="header">
  <h1>
    Eduard Giménez
  </h1>
</header>

<main class="main">
  <p>
    Hi, I’m Eduard, a product designer and developer based in Madrid, Spain.
  </p>

  <p>
    Currently I lead the product and development teams at <a href="https://gotrive.com">Trive</a>, the first vehicle
    e-commerce in Spain, and co-organize the Product Book Club in Madrid.
  </p>

  <p>
    I co-founded <a href="https://emtrics.com">Emtrics</a>/<a href="https://keweno.com">Keweno</a>, the first
    emoticon-based survey tool for brick and mortar businesses, leading the product design and development from scratch
    to +16.000 surveys.
  </p>

  <p>
    Previously: product manager at <a href="https://clarity.ai">Clarity AI</a>, freelance product designer, senior
    backend engineer at <a href="https://tuenti.com">Tuenti</a> and systems engineer at
    <a href="https://capside.com">CAPSiDE</a>.
  </p>

  <p>
    Want to talk about design, technology, opportunities or the meaning of life? Drop me an email, coffee is on me!
  </p>

  <a href="mailto:hello@eduard.io">E-mail me</a>
</main>

<!-- TODO: Somekind of social graph/links? -->
<aside>
  <h2>Elsewhere</h2>
  <ul>
    <li><a href="https://twitter.com/eduard_io">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/eduard-io">LinkedIn</a></li>
    <li><a href="https://github.com/eduard-io">GitHub</a></li>
  </ul>
</aside>

