---
title: Eduard Giménez, product designer.
---

<main class="c-main">
  <a href="https://eduard.io">
    <img src="/images/logo@2x.png" class="c-main__logo"/>
  </a>
  
  <h1 class="c-main__title">
    Hi, I’m Eduard.
  </h1>

  <p class="c-main__p">
    I design and build digital products that are solid, useful and beautiful.
  </p>

  <p class="c-main__p">
    Currently I work at <a href="https://smartprotection.com/en/">Smart Protection</a>. Before, I founded <a href="https://vimeo.com/39394754">Emtrics/Keweno</a> and participated in <a href="https://gotrive.com">Trive</a>, <a href="https://clarity.ai">Clarity AI</a> and <a href="https://tuenti.com">Tuenti</a>.
  </p>

  <p class="c-main__p">
    If you want to talk about design, technology, coffee or the meaning of life don’t hesitate to contact me.
  </p>

  <a href="mailto:hello@eduard.io" class="c-main__cta">
    Say hi!
  </a>
</main>
