<!-- it works over another template -->
{{> templates-dashboard-middle }}

<div class="t-modal">

    <div class="t-modal__content">
      <a href="#" class="t-modal__close a-link a-link--modal">
        <i class="fa fa-times fa-fw"></i>
      </a>

      <!-- START OF YOUR CONTENT -->
        <h1>Are you sure you want to proceed?</h3>
        <p>Explain here the effects and risks of confirming the operation.</p>

        <button class="a-btn-primary">Action my things</button>
        <button class="a-btn-primary a-btn-primary--outline">Cancel</button>
      <!-- END OF YOUR CONTENT -->
    </div>

</div>