<div class="t-dashboard">
  {{> organisms-merchant-header }}

  <div class="t-dashboard__content-wrapper t-dashboard__content-wrapper--top">
    <div class="t-dashboard__content">
        
        {{> organisms-section-header(title: "Bulks")}}

        {{> molecules-bulks-list-toolbar }}

        <div class="m-empty-slate-cta">
          <p>Bulks let you submit a bunch of transactions at the same time, creating them manually or uploading a file.</p>
          <p><a href="#" class="a-link" >Create your first bulk</a>.</p> 
        </div>

    </div>
  </div>

  {{> organisms-footer }}
</div>