<tr class="m-table__row">
  <td class="m-table__cell m-table__cell--text">
    <a class="a-link">(+34) 639 34 27 23</a>
  </td>
  <td class="m-table__cell m-table__cell--number">
    <span class="a-trade-value a-trade-value--authorized">
      <span class="cw-value--no-color">4.43 € </span>
    </span>
  </td>

  <td class="m-table__cell m-table__cell--text">Viaje Muving</td>
  <td class="m-table__cell m-table__cell--text">ref-10381033</td>

  <td class="m-table__cell m-table__cell--text">
    <span class="authorized">Success</span>
  </td>
</tr>