<div class="o-header__wrapper o-header__wrapper--access">
    <nav class="o-header">
        <div class="o-header__left">
          {{> atoms-logo}}
        </div>
        
        <div class="o-header__right">
          <a class="o-header__link" href="http://coowry.com/faqs">
            FAQs
          </a>
          
          <span class="ml3">
            {{> atoms-select-language:a-select-language--white}}
          </span>
        </div>
    </nav>
</div>